.message-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  background-color: #dcf5ff;
  margin-bottom: 110px;
}

.break {
  overflow: hidden;
  text-align: center;
  margin: 20px 0;
}

.break:before,
.break:after {
  background-color: #2ea3d1;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.break:before {
  right: 0.5em;
  margin-left: -50%;
}

.break:after {
  left: 0.5em;
  margin-right: -50%;
}

