.user-edit .content {
  width:70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-edit .body {
  width: 250px;
}

.user-edit input {
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
}

.user-edit .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-password {
  width: 200px;
}

.user-edit .header {
  width:100%;
  margin-bottom: 20px;
}

.user-edit .header .title {
  text-align: center;
}