.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  border: 1px solid  lightgray;
  padding: 50px;
}

.login-wrapper input {
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
}

.login-wrapper .btn{
  padding: 10px 20px;
  margin-top: 10px;
  height: 40px;
  width: 100px;
}