.message-edit-modal {
  position: fixed;
  width: 30%;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
}

.message-edit {
  height: 400px;
}

.message-edit-header {
height: 20px;
padding: 5px;
display: flex;
align-items: center;
justify-content: center;
color:white;
background-color: navy;
height:50px;
}

.header-text {
  display: inline-block;
}

.message-edit .edit-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.message-edit .text {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 70%;
  resize: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.btn-save {
  margin-right: 20px;
}
