.user-item {
  padding: 30px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  color: #ffffff;
  background-color: darkcyan;
  padding: 10px 30px;
  flex:3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.badge {
  font-size: 2rem;
}

.btn-wrapper {
  flex:2;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 30px;
  margin-top: 30px;
}

.btn.btn-edit,
.btn.btn-delete {
  margin: 0 10px;
}